@import "tailwindcss";


body {
    font-family: var(--font-poppins);
    background-color: #0d1117;
    background-image: linear-gradient(to right, #00b4d8 1px, transparent 1px), linear-gradient(to bottom, #90e0ef 1px, transparent 1px);
    background-position: top;
    background-repeat: repeat;
    background-size: 60px 60px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

