@import "tailwindcss";


body {
    font-family: var(--font-poppins);
    background-color: #000;
    background-image: linear-gradient(to right, #fd843f 1px, transparent 1px), linear-gradient(to bottom, #ffaf46 1px, transparent 1px);
    background-position: top;
    background-repeat: repeat;
    background-size: 60px 60px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

